extends layout

block content
  link(rel='stylesheet', href='/stylesheets/d3.css')
  h1= title
  p Welcome to Water Level Monitor
  div(id='plotlygraph')
  script(type="text/javascript").
    var counter = 0;
    var graph_x = "#{graph_x}".split(',');
    var graph_y = "#{graph_y}".split(',');
    function getX() {
      counter++;
      return counter;
    }
    function getY() {
      return Math.random();
    }
    Plotly.newPlot('plotlygraph', [{
      x: graph_x,
      y: graph_y,
      type: 'line'
    }]);