extends layout

block content
  link(rel='stylesheet', href='/stylesheets/d3.css')
  h1= title
  p Welcome to Water Level Monitor
  div(id='plotlygraph')
  script(type="text/javascript").
    var counter = 0;
    var graph_x = "#{graph_x}".split(',');
    var graph_y = "#{graph_y}".split(',');
    
    var data = [
      {
        x: graph_x,
        y: graph_y,
        type: "scatter"
      }
    ];
    var layout = {
      filename: "date-axes",
      fileopt: "overwrite",
      title: 'Tank 1'
    };

    Plotly.newPlot('plotlygraph', data, layout, function (err, msg) {
      console.log(msg);
    });